<!--@subject {{var data.subject}}  @-->
{{template config_path="design/email/header_template"}}
<table class="message-details">
    <tr>
        <td><strong>{{trans "Name: "}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email: "}}</strong></td>
        <td>{{var data.email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Telehpone: "}}</strong></td>
        <td>{{var data.telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Nessage sent: "}}</strong></td>
        <td>{{var data.comment}}</td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
